{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>My Movies Review</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
    <header>
        <a href="/reviews"><img src="{% static 'images/로고.png' %}" height="50" width="170"></a>
        <a href="/reviews/create" style="font-size:16px">Add a New review</a>
    </header>
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>