{% extends 'base.html' %}
{% load static %}
{%block head%}
  <title>PiroStagram</title>
{% endblock %}

{%block content%}
  <div class="content-wrapper">
    <!-- 글 목록 -->
    {% for post in posts %}
        <div id="posting" class="post-{{post.id}}">
            <div id="post_header">
                {% if post.user.image %} 
                    <img src="{{post.user.image.url}}" style="width:25px; height:25px;">
                {% else %}
                    <img src="/media/no_image.png" style="width:25px; height:25px;">
                {% endif %}
                <p><strong>{{post.user}} </strong></p>
            </div>
            <div class="post_content">
                {% if post.image %}
                    <img src="{{post.image.url}}" >
                {% else %}
                    <img src="/media/no_image.png">
                {% endif %}
                <div class="like">
                    {% if user in post.like_users.all %}
                        <input type="checkbox" class="heart" id="myCheck-{{post.id}}" checked></input>
                    {% else %}
                        <input type="checkbox" class="heart" id="myCheck-{{post.id}}"></input>
                    {% endif %} 
                        
                    <label for="myCheck-{{post.id}}" onclick="change_like({{post.id}})"></label>
                    <p>좋아요:</p>
                    <p id="like-num-{{post.id}}">{{post.likes}}</p>
                    <p>개</p>
                </div>
                <p><strong>{{post.user}}  </strong>{{post.content}}</p>
            </div>
            
            <div id="post_comments" class="post-{{post.id}}-comment"> 
                {% for comment in post.comment_set.all %}
                    <div class="comment-container" id="comment-{{post.id}}-{{comment.id}}">
                        <p><strong>{{comment.comment_user.name}}</strong> {{comment.content}} </p>
                        {% if comment.comment_user == user %}
                            <button type="button" onclick="delete_comment({{post.id}},{{comment.id}})">삭제</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="comment-write">
                <p><strong>{{user.name}} </strong></p>
                <input type="text" name="comment" placeholder="댓글 작성..." class="comment-write-{{post.id}}"/>
                <button type="button" onclick="commentUp({{post.id}},'{{user.name}}')"><i class="fa-regular fa-paper-plane"></i></button>
            </div>
        </div>
    {% endfor %}
  </div>
{%endblock%}
