@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@500&display=swap');

header {
    margin: 20px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 1000px;
    border-bottom: 1px solid black;
    align-items: center;
}

.btn_form>button {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

header > a{
    font-size:20px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

p{
    font-family: 'Nanum Gothic', sans-serif;
}

ul{
    list-style: none;
}

.my-3{
    width: 1000px;
}

.my-4{
    margin: 0 100px;
    width: 1000px;
    display: flex;
    justify-content: center;
}
.container{
    margin: 0 100px;
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn_form{
    display: flex;
    flex-direction: row-reverse;
}

.table{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.title{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.title > h2{
    font-size: 24px;
    font-weight: 600;
}

.change{
    display: flex;
    align-items: center;
}
.change > a{
    padding: 10px;
}

.change > form> button {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}


.movie{
    margin: 10px;
    padding: 10px;
    background-color:seashell;
    display: flex;
    flex-flow: column;
}

.sort-select{
    padding: 10px;
    margin: 10px;
    background-color:aliceblue;
    width: fit-content;
    
}

.movie > div{
    padding: 10px;
}

.movie>div:nth-child(2){
    font-size: 24px;
    font-weight: 600;
}

.movie_image{
    display: flex;
    justify-content: center;
}

.movie > img{
    width: 50%;
}

.review__summary{
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    flex-direction: row;
    padding: 10px;
}

.review__summary>img{
    padding-right: 20px;
    block-size: 50%;
}
.explain{
    display: flex;
}

.explain > div{
    padding: 10px;
}

.explain > p{
    margin: 10px;
}

.detail_content{
    padding: 25px;
    margin: 20px 0;
    background-color: whitesmoke;
    line-height: normal;
}

.list_detail{
    display: flex;
}

.list_detail>div{
    padding-right: 10px;
}

.list_detail>div:nth-child(2){
    font-weight: 600;
}

.review_post{
    width: 600px;
    padding: 30px 70px;
    background-color: whitesmoke;
}

.post-form > p{
    font-family: 'Noto Sans KR', sans-serif;
    padding: 8px;
}

.post-form > p> input{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:12px;
    padding: 2px;
    border-width: 1px;
}

.post-form>p:nth-child(7){
    display: flex;
    flex-flow: column;
}

.post_header{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}