* {
    box-sizing: border-box;
    height:auto;
    margin: 0;
}

a{
    text-decoration: none;
    color:rgb(83, 134, 217);
}

.nav-container{
    height: 72px;
    padding: 8px 0;
}

.nav {
    float: left;
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}


body{
    background-color: rgb(43, 49, 55);
    overflow: hidden;
    font-size: 10px;
}

#nav_left{
    align-items: center;
    padding: 8px 0;
    display: inline-block;
    width: 780px;
    height: 52px;
    list-style: none;
    color: #FFF;
    margin-left: 0;
    font-size: 13px;
}

#nav_left li{
    display: inline-block;
    padding: 0 6px;
    font-size: 16px;
}

#nav_left li:first-child span:first-child{
    display: inline-block;
    width: 40px;
    height: 50px;
    background-image: url(./github\ logo.png);
    background-position: 0 0;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}

#nav_right{
    margin: auto;
    width: 540px;
    height: 52px;
    position: relative;
    vertical-align: middle;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: flex-end;
}

.search-form{
    height: 36px;
    width:240px;
    display: flex;
    position: relative;
    padding: 5px, 10px;
    background-color: dimgrey;
    border-radius: 6px;
    text-align: center;
}

#search{
    margin-left: 6px;
    margin-top: 5px;
    font-size: 15px;
    height: 26px;
    width: 201px;
    border-radius: 6px;
    outline: none;
    font-weight: normal;
    color: white;
    background-color: transparent;
    border:none;
}
#search::placeholder{
    color: #b5b3a8;
}

#signin, #signup{
    margin: 0 10px;
    font-size: 16px;
    vertical-align: top;
    background-color: rgb(43, 49, 55);
    color: white;
}

#signin{
    border: none;
    
    height: 24px;
}

#signup{
    
    border: 1px solid #D1D5DA;
    padding: 6px 10px;
    border-radius: 6px;
}

.main_container {
    background-image: url(./simple-codelines.svg);
    background-position-x: center;
    background-position-y: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--outer-space);
    padding: 0 40px;
    margin-bottom: 38px;
}

#main_box{
    margin: 10px auto 0;
    width: 1100px;
    display: flex;
    align-items: center;
}
#main_left{
    flex-basis: 55%;
    color: #FFF;
    display: inline-block;
    width: 605px;
    background-color: none;
    margin: 0 70px -30px 0;
}
#main_left h1{
    width: 75%;
    font-weight:550;
    font-size:64px;
    line-height: 1;
    margin-bottom: 10px;
}

#main_left h2{
    font-size: 20px;
    font-weight: 400;
    bottom: 20px;
    color: rgba(255, 255, 255, 0.6);
}
#main_right{
    flex-basis: 45%;
    
}
#main_right ul{
    max-width: 430px;
    list-style: none;
    background-color: White;

    display: inline-block;
    width: 430px;
    height: 470px;


    text-align: left;
    color: black;
    font-size: 15px;
    position: relative;
    border-radius: 10px;
    padding: 20px;
}

.inputbox{
    margin-top: 10px;
    margin-bottom: 12px;
    width: 370px;
    height: 40px;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 5px;
}

.inputbox:focus,
.inputbox:hover{
    background-color: #cbe4ff;
}

#green_button{
    background-color: rgb(45, 189, 79);
    color: #FFF;
    border: none;
    height: 60px;
    width: 390px;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    padding: 20px 32px ;
    margin-top: 10px;
    margin-bottom: 22px;
    font-weight: 530;
}

.sentence{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 16px;
}

#img_background {
    
    background-color: white;
    width: 100%;
    height: 500px;

    bottom: 0px;
}

footer img {    
    position: absolute;
    top: 593px  ;
    right: 0;
    width: 450px;
}