@import "./nomalize.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: white;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #ddd;
  height: 100vh;
}

a{
  color: #fff;
}

main {
  background-image: url(../background.jpg);
  background-size: cover;
  width: 1100px;
  padding: 1rem;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer {
  display: flex;
  justify-content: right;
  background-color: #fff;
  padding-right: 10px;
  padding-bottom: 10px;
}

.search-box {
  display: grid;
  grid-template-columns: 1fr 0.15fr;
  margin-bottom: 20px;
}

.search-box>form {
  display: flex;

}

.content-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px;
  background-color: gray;
  opacity: 0.95 ;
}

.content-wrapper-2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: gray;
  opacity: 0.95 ;
}
.wrapper-header{
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.wrapper-header > h2{
  color: lightgreen;
}
.step-links > a{
  border: 1px solid black;
  padding: 3px;
  background-color: white;
  color: black;
}

.wrapper-middle{
  display: flex;
}
.item {
  display: flex;
  background-color:cornflowerblue;
  flex-direction: column;
  margin: 15px 15px;
  padding: 10px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.thumbnail {
  position: relative;
  cursor: pointer;
}

.info_devtool{
  color: black;
  padding: 15px;
  align-items: center;
  display: flex;
  border: 1px solid black;
  margin: 5px;
}
.info_devtool > a{
  width: 200px;
}

.info_devtool > p {
  padding-left: 35px;
}
.wrapper-middle-detail{
  display: flex;
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
  align-items: center;
  width: 800px;
}

.wrapper-middle-detail2{
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
  align-items: center;
  width: 800px;
}

#details{
  margin-left: 40px;
  padding: 10px;
}

.star {
  position: absolute;
  top: 5px;
  left: 5px;
  display: none;
  color: gold;
  font-size: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.info * {
  margin: 5px;
}

.title {
  font-size: 1.5rem;
  text-decoration: none;
  padding-bottom: 5px;
}

#logo h1 {
  margin: 20px 0;
  color: greenyellow;
}

#logo {
  display: flex;
  justify-content: center;
}